<ion-view>
  <ion-content scroll="false">
    <div class="home">
      <h1>inThePocket</h1>
      <h2>v0.1</h2>
      <div class="homeActions">
        <button class="button btnLaunch" ui-sref="quick" ui-sref-opts="{reload: true}">{{$root.dT.home.quickTraining[$root.displayLang]}}</button>
        <!-- <button class="button icon-left ion-android-options" ui-sref-opts="{reload: true}">{{$root.dT.home.customTraining[$root.displayLang]}}</button> -->
        <button class="button icon ion-android-settings settingsIcon" ui-sref="settings" ui-sref-opts="{reload: true}"></button>
        <button class="button icon ion-trophy statsIcon" ui-sref="stats" ui-sref-opts="{reload: true}"></button>
      </div>
    </div>
  </ion-content>
</ion-view>
