.home{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 5vh 0vh 15vh 0vh;
	height: 100vh;
}
.home .logo{
	background-image: url('/img/icon.png');
	background-size: cover;
	width: 70px;
	height: 70px;
	transform: translate(0,-35%);
	position: fixed;
	top: 5vh;
	z-index: 1;
}
.home h1{
	/*margin: 0;*/
}

.homeActions button{
	background-color: #00A388;
	color:#FFFFFF;
	width: 85vw;
	height: 85vw;
	padding: 5%;
	font-size: 2.5em;
	font-weight: 300;
	border:3px solid #FFFFFF;
	border-radius: 50%;
}
.homeActions .btnLaunch.activated{
	background-color: #00c4a1 !important;
	border:3px solid #FFFFFF;
}
.homeActions .settingsIcon{
	width: 8.5vh;
	height: 8.5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: fixed;
	bottom:0vw;
	left: 60%;
	transform: translate(-50%, -50%);
	border:1px solid #FFFFFF;
}
.homeActions .statsIcon{
	width: 8.5vh;
	height: 8.5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: fixed;
	bottom:0vw;
	left: 40%;
	transform: translate(-50%, -50%);
	border:1px solid #FFFFFF;

}