.settings{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;	
	padding: 4vh 0vh 0vh 0vh;

}
.settingsBlock{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.settingsBlock h2{
	background-color: #FFFFFF;
	margin-bottom: 0;
	margin-top: 1vh;
	padding: 1vh;
	padding-top: 1.5vh;
	width: 85vw;
	font-size: 1.5em;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.settingsBlock .language{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	width: 85vw;
	padding-bottom: 1.5vh;
	border-bottom: 1px solid #00A388;
}
.settingsBlock .language span{
	font-size: 1.5em;
	color:#00A388;
	font-weight: 300;
}
.settingsBlock .language button{
	font-size: 0.8em;
	margin-top: 1vh;
	background-color: #00A388;
	color:#FFFFFF;
	border:none;
	border-radius: 20px;
	padding: 3%;
}
.settingsBlock .TTSSpeed{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85vw;
	background-color: #FFFFFF;
	padding-bottom: 1.5vh;
	border-bottom: 1px solid #00A388;
	font-weight: 300;
}
.settingsBlock .item{
	background-color: #FFFFFF;
	color: #00A388;
	padding: 0% 3% 0% 3%;
	border:none;
	width: 75vw;
	font-size: 0.9em;	
}
.settingsBlock .item span{
	width: 25%;
	text-align: center;
}
.settingsBlock .misc{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85vw;
	background-color: #FFFFFF;
	padding-bottom: 1.5vh;
	border-bottom: 1px solid #00A388;
	font-weight: 300;
	padding: 0% 5% 0% 5%;
	height: 8vh;
	margin-top: 1vh;
}
.settingsBlock .misc span{
	width: 100%;
}
.settingsBlock .misc .toggle{
	border:none;
	height: 50px;
	background-color: rgba(0,0,0,0);
	/*background-color: blue;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*display: flex;*/
	/*align-items: center;*/
}
.settings .saveButton{
	background-color: #00A388;
	border: none;
	outline: none;
	color: #FFFFFF;
	padding: 5% 20% 5% 20%;
	border-radius: 3px;
	font-size: 2em;
	font-weight: 300;
	border:1px solid #FFFFFF;
}
