/* Empty. Add your own CSS if you like */
input, button, select, textarea{
	font-family: "Open Sans" !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: "Open Sans" !important;	
}
ion-content{
	background-color: #f0f0e8;
}
h1{
	font-size: 12vw;
	line-height: 0.7;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1em;

}
h2{
	font-size: 8vw;
	font-weight: 300;
}
.button.active, .button.activated{
    color: #FFFFFF;
    background-color: #00c4a1 !important;
    border-color: #FFFFFF;
}
.button:hover{
	color: #FFFFFF;
}